.btn-add-to-cart {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 9px 27px;
    display: inline-block;
    border-radius: 25px;
    border: none;
    transition: 0.35s;
    color: #ffffff; /* Text color */
    background: #1e90ff; /* Blue background color */
    box-shadow: 0 8px 28px rgba(30, 144, 255, 0.2); /* Blue shadow */
    cursor: pointer;

}
 
.btn-add-to-cart:hover {
    background: #00ced1; /* Cyan background color */
    box-shadow: 0 8px 28px rgba(0, 206, 209, 0.45); /* Cyan shadow */
  }
