.img-container {
    position: relative;
}

.card {
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }

.card-img-top {
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.25rem;
}

.card-text {
    margin: 0.5rem 0;
}

.btn {
    margin-top: 0.5rem;
}

.text-center {
    text-align: center;
}

.like-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(248, 188, 188, 0.8);
    border: none;
    border-radius: 30%;
    padding: 10px;
    cursor: pointer;
    display: none;
}

.img-container:hover .like-btn {
    display: block;

}
.like-btn:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(241, 48, 48);
    transition: 0.35s;
}
