.profile-main {
    background-color: #f0f2f5;
    min-height: 100vh;
    padding-top: 40px;
}

.profile-card {
    border-radius: 10px;
    overflow: hidden;
}

.profile-image-section {
    background: linear-gradient(135deg, #ef6e5d 0%, #8a2b02 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.profile-image {
    width: 120px;
    border: 5px solid #fff;
    border-radius: 50%;
}

.card-body h6 {
    color: #333;
}

.card-body p {
    color: #777;
}

.text-muted {
    color: #777 !important;
}

a.text-decoration-none {
    color: #555;
}

a.text-decoration-none:hover {
    color: #000;
}

button {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 9px 27px;
    display: inline-block;
    border-radius: 30px;
    border: none;
    transition: 0.5s;
    color: #ffffff;
    /* Text color */
    background: #dc143c;
    /* Crimson background color */
    box-shadow: 0 8px 28px rgba(220, 20, 60, 0.2);
    /* Crimson shadow */
    margin-right: 10px;
}

button:hover {
    background: #ff7f50;
    /* Orange background color */
    box-shadow: 0 8px 28px rgba(255, 127, 80, 0.2);
    /* Orange shadow */
}


@media (max-width: 767.98px) {
    .profile-image {
        width: 80px;
        margin-top: 20px;
    }

    .profile-image-section {
        padding: 20px 10px;
    }

    .card-body {
        padding: 20px;
    }

    .row.g-0 {
        flex-direction: column-reverse;
    }
}